#info-window
  #siteNotice
  %h1#firstHeading.firstHeading
    = @coop.name
    %img{ :src => "/images/coop.gif" }
  #bodyContent
    %p
      %strong
        Cidade:
        = @coop.city
    %p= "Endereço: #{@coop.address} - #{@coop.district} - #{@coop.postal_code}"
    %p
      %strong
        Materiar:
        = @coop.material
